[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
